{{range $podJson := getvs "/registry/pods/default/*"}}
  {{$pod := json $podJson}}
  //{{$pod.metadata.name}}
  {{range $container := $pod.spec.containers}}
  {{if and $pod.status.podIP $container.readinessProbe.httpGet}}

db.checks.findAndModify({
  query: {"name": "{{$pod.metadata.name}}"},
  update: { $setOnInsert: {"type" : "{{toLower $container.readinessProbe.httpGet.scheme}}", "name" : "{{$pod.metadata.name}}", "url" : "http://{{$pod.status.podIP}}:{{$container.readinessProbe.httpGet.port}}{{$container.readinessProbe.httpGet.path}}", "tags" : ["{{$pod.metadata.labels.name}}"], "interval": 5000}},
  new: true,
  upsert: true
})

  {{end}}
  {{end}}
{{end}}
